<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.dapchina.newsupper"
    android:versionCode="10"
    android:versionName="6.0" >
<!-- app上线更新 -->
    <permission
        android:name="cn.dapchina.newsupper.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="cn.dapchina.newsupper.permission.MAPS_RECEIVE" />
    <!-- 新版本定位key -->

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="20" />

    <!-- __________________________Permission_________________________ -->
    <!-- 访问网络的链接状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问GPS位置的链接状态 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <!-- 访问互联网权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!-- My Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- SDCARD写入权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <!-- 访问WIFI的链接状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <!-- 访问WIFI状态改变权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 改变网路状态权限 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />

    <!-- 允许程序读取或写入系统设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-feature android:name="android.hardware.camera" />
    <!-- 维码扫描 -->
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 测试权限 -->
    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="cn.dapchina.newsupper" />

    <!-- 屏幕适配支持 -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
	<!--   -->
    <application
        android:name=".global.MyApp"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDeSNFQnx4XeL2hSKrBFMz-I__56Oq1m4w" />

        <activity
            android:name=".activity.WelcomeActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <activity
            android:name=".activity.HomeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
         <activity
            android:name=".activity.CheckAddrActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.UploadActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!--旧新提示  -->
        <activity
            android:name=".activity.ShowNoticeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.Dialog"/>
        <activity
            android:name=".activity.ShowImageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/Transparent" />
        <activity
            android:name=".activity.VideoPlayerActivity"
            android:configChanges="keyboardHidden|orientation|locale|navigation"
            android:screenOrientation="unspecified"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".activity.SettingActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.PhotoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".activity.KnowleageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.KnowledgeDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
         <!--注销页面 -->
         <activity
            android:name=".activity.LogoutDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        
          <!--提示页面 -->
         <activity
            android:name=".activity.NoticeActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        
         <!-- 追加说明类 -->
         <activity
            android:name=".activity.MyDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <!-- 数据字典 -->
         <activity
            android:name=".view.EditTextListView"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
         
        <activity
            android:name=".activity.SubscibeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.RegistActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.VisitActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.ChoiceModeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        
        <activity
            android:name=".activity.MapActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.DataMonitorActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.WebModeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        
        <activity
            android:name=".activity.NativeModeActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden" >
            </activity>
            <activity
            android:name=".activity.NativeReviewActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden" >
            </activity>
             <!-- 维码扫描 -->
          <activity
            android:configChanges="orientation|keyboardHidden"
            android:name=".activity.CaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>

          <!-- 大树  以下  -->
          <activity
            android:configChanges="orientation|keyboardHidden"
            android:name=".activity.MyWordActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <!-- 删除附件 -->
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name=".activity.AttachActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="stateAlwaysHidden" />
         <!-- 地图监控开始 -->
         <receiver android:name=".service.AlarmReceiver">
             <intent-filter>
                <action android:name="arui.alarm.action" />
            </intent-filter>
        </receiver>
        <service android:name=".service.DiaryService" />
        <service android:name=".service.MyLocation"> </service>
        <!-- 注册 AsynckService -->
        <service android:name=".main.AsynckService" />
         <!-- 大树  以上  -->
        <!-- 测试权限 -->
        <uses-library android:name="android.test.runner" />
        <!-- 数据库 -->
             <provider
            android:name="cn.dapchina.newsupper.db.DBProvider"
            android:authorities="dapchina.newsupper.provider" />


        <!-- 负责网络数据处理Service -->
        <service android:name=".main.MainService" >
        </service>
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
        <!-- 百度最新定位key -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="nKHNSRgA2MErfN1ARbD7xNg8" />
         <!-- 多选图片 -->
         <activity
            android:name="cn.dapchina.newsupper.newphoto.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="cn.dapchina.newsupper.newphoto.photoviewer.photoviewerinterface.ImageViewerActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="cn.dapchina.newsupper.newphoto.photoviewer.photoviewerinterface.ViewPagerActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="cn.dapchina.newsupper.newphoto.photoviewer.photoviewerinterface.ViewPagerDeleteActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="cn.dapchina.newsupper.newphoto.photoviewer.photoviewerinterface.ViewPagerBitmapActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="cn.dapchina.newsupper.newphoto.photo.PhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="cn.dapchina.newsupper.newphoto.photo.PhotoAlbumActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="cn.dapchina.newsupper.activity.RecordActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        
        <activity
            android:name=".activity.MyQuotaActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
    </application>

</manifest>